.container-quienes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    /* background-color: rgba(0, 0, 0, 0.648); */
    margin: 20px;
    /* border: 1px solid grey; */
    border-radius: 30px;
  }
  
  .section {
    width: 80%;
    margin-bottom: 40px;
    /* Propiedades de la animación */
    opacity: 0;
    animation: fade-up 1.5s ease-out forwards;
  }
  @keyframes fade-up {
    from {
      opacity: 0;
      transform: translateY(30px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .section-title {
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 10px;
  }
  
  .section-text {
    font-size: 18px;
    color: #fff;
    line-height: 1.6;
  }
  
  