/* En ContactForm.css */

.fondo-contacto {
  background-image: url("../../assets/images/wallpaper/contact1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  display: flex;
}

.trasfondo-contacto {
  background-color: rgba(0, 0, 0, 0.493);
}

.formulario-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: auto;
  margin-bottom: 30px;
  /* background-color: red; */
}

.formulario {
  background-color: #0c0c0c8d;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  width: 80%;
  margin-left: 50px;
}

.campo-doble {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.campo {
  width: 50%;
}

.label {
  display: block;
  margin-bottom: 5px;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #d9d7d7;
}

.input-contact,
.message_contact {
  width: 80%;
  padding: 10px;
  border: transparent;
  /* border: 1px solid #ccc; */
  border-radius: 5px;
  margin-left: 30px;
  font-size: 20px;
  background-color: #fbfbfb9e;
  color: black;
  margin-top: 5px;
}

.input-contact:focus,
.message_contact:focus {
  outline: none;
  border: 1px solid #0d0d0d;
}
.message_contact {
  width: 90%;
  height: 100px;
  resize: none;
}

.div-contact-bnt {
  display: flex;
  justify-content: center;
  /* align-items:flex-end */
}

.select-contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-top: 30px;
}
.select-contact {
  margin-left: 30px;
  background-color: #fbfbfb9e;
  color: black;
  margin-top: 10px;
  padding: 5px;
}

.select-contact:focus {
  outline: none;
  border: 1px solid #0d0d0d;
}
.select-service-text {
  font-size: 20px;
  letter-spacing: 1px;
}

.btn-contact {
  background-color: #535151;
  color: #ffffff;
  border: none;
  margin-top: 30px;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.8 all ease-in;
}

.btn-contact:hover {
  transition: 0.8 all;
  background-color: #6f7172;
  color: rgb(4, 4, 4);
}

@media (max-width: 768px) {
  .formulario-container {
    margin-top: -30px;
  }
   .formulario {
    margin: 0 auto;
  }
  .campo-doble {
    display: flex;
    flex-direction: column;
  }
  .input-contact, .message_contact {
    width: 100%;
    margin-left: 0px;
   
  }
  .label {
    margin-top: 15px;
  }
  .campo2 {
  margin: 0 auto;
  margin-left: 0px;
 
  }
  .message_contact {
  width: 94%;
  }
  .campo {
    width: 90%;
    justify-content: center;
    align-items: center;
  }
  .select-contact-container {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .select-contact {
    margin: 0 auto;
    margin-top: 10px;
  }
.select-service-text {
  font-size: 18px;
}
}
