.footer {
    background-color: #222;
    color: #fff;
    padding: 40px;
    height: 20dvh;
  }
  
  .footer-content {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
    margin-left: 150px;
    /* flex-direction: column; */
  }
 */
  .copy-rights {
    margin-top: 5px;
  }
  
  .copy-text {
    font-size: 12px;
    color: #bdbdbd;
  }
  
  .contact-info,
  .opening-hours {
    flex: 1 1 45%;
    margin-left: 30px;
  }
  
  .contact-heading,
  .hours-heading {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .icon3 {
    font-size: 24px;
    margin-right: 10px;
  }
  .icon4 {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .contact-details,
  .hours-details {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .contact-email {
    color: #bdbdbd;
    text-decoration: none;
  }
  .contact-instagram {
    color: #bdbdbd;
    text-decoration: none;
}

.instagram {
    display: flex;
    align-items: center;
    margin-top: -10px;
}
  .contact-instagram:hover {
    color: #8b8b8f;
    text-decoration: none;
}
  .contact-address,
  .hours-text {
    margin: 0;
    color: #bdbdbd;
  }
  .logo_h1 {
    font-family: 'Comfortaa', cursive;
    font-weight: bold;
    color: white;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin-right: 200px;
}
.hr-footer {
  width: 85%;
}


.copy-rights {
 display: flex;
 justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: -20px;
}

@media (max-width: 768px) {
  .footer {
      flex-direction: column; /* Cambiar a disposición vertical */
      align-items: center; /* Centrar elementos horizontalmente */
      justify-content: center;
      text-align: center;
      height: auto;
      width: auto;
  }
  .footer-content {
    flex-direction: column;
    margin-right: 50%;
  }

  .contact-info,
  .opening-hours {
    text-align: center;
    margin-left: 0px;
  }

  .logo_h1 {
    justify-content: center;
    align-items: center;
    display: flex;
      margin-right: 0px;
      margin-left: 25px;
  }
  .icon4 {
    font-size: 55px;
    margin-right: 5px;
  }
  .copy-rights {    
   display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200%;
    margin-left: -50px;
    /* margin: 0 auto; */
    /* text-align: center; */
    margin-top: -20px;
    height: 70px;
    /* background-color: red; */
   
  }
  .copy-text{
    font-size: 15px;
    width: 100%;
  }
 

}